
html, body { /* sets background as a collor gradiant */
    <!-- background: linear-gradient(#0200C6, #FF8B00); -->
    height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#0200C6), to(#FF8B00)) fixed;
}

div.bag{ /* bag is used to contain the body of the program leaving a slight border on the side */
   width: 95%;
   margin: auto;
}


div.container { /* used to seperate the header section (top) body or main segment and footer(bottom)*/
    width: 100%;
    /*border: 3px solid black;*/
    margin: auto;
    clear: left;
    display: flex;
    box-sizing: border-box;
}

header { /* holds the page tile and central focus of top of the page */
    width: 80%;
    margin: auto;
    padding: 1em;
    color: white;
	background-color: black;
    box-sizing: border-box;
    text-align: center;
   /* border-radius: 10px 10px 0px 0px;*/
}

logo { /* holds the PD logo and styling for */
    float: left;
    width: 10%;
    margin: 0;
    padding: 1em;
    background-color: white;
    display:inline-block;
    vertical-align:top;
	border-radius: 10px 0px 0px 0px;
}

logo ul {
    list-style-type: none;
    padding: 0;
}

logo ul a {
    text-decoration: none;
}


inf {
    margin: 0px;
    width: 10%;
    border-left: 1px solid black;
    padding: 1em;
    background-color: white;
    display:inline-block;
    vertical-align:top;
    box-sizing: border-box;
	border-radius: 0px 10px 0px 0px;
}
















footer {
    width: 100%;
    margin: auto;
    padding: 1em;
    color: white;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

nav {
    float: left;
    width: 10%;
    margin: 0;
    padding: 1em;
    background-color: white;
    display:inline-block;
    vertical-align:top;
}
nav div {
  padding: 1px;
}

article {
    margin: 0px;
    width: 90%;
    border-left: 1px solid black;
    padding: 1em;
    background-color: white;
    display:inline-block;
    vertical-align:top;
    box-sizing: border-box;
	/*text-align: center;*/
}

aside {
    margin: 0px;
    width: 20%;
    border-left: 1px solid black;
    padding: 1em;
    background-color: white;
    display:inline-block;
    vertical-align:top;
    box-sizing: border-box;
}

.PDLogo{

  width: 60%
}
.NavLink{
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(150, 218, 230);
  padding: 15px 20px;
}
